::-webkit-scrollbar {
	width: 18px;
}
::-webkit-scrollbar-thumb {
	background-color: #74b7fa;
	background-image: linear-gradient(62deg, #419bf5 25%, #b26bf5 89%);
	border-radius: 20px;
	box-shadow: 1px solid gray;
}
::-webkit-scrollbar-track {
	background-color: azure;
	box-shadow: inset 0 0 5px rgb(117, 115, 115);
	border-radius: 20px;
}
html{
	scroll-behavior: smooth;
}
.top{
	width:35px;
	height:35px;
	position: fixed;
	bottom:0;
	right:0;
	padding:10px;
	z-index: 2;

}

.back {
	font-size: 15px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	position: absolute;
	top: 5px;
	left: 5px;
	color: white;
	backdrop-filter: blur(16px) saturate(180%);
	-webkit-backdrop-filter: blur(16px) saturate(180%);
	background-color: rgba(17, 25, 40, 0.37);

	text-decoration: none;
	padding: 9px;
	border-radius: 12px;
}
.back:visited {
	color: white;
}
.back:hover {
	color: white;
	background-color: rgba(17, 25, 40, 0.75);
}

.header {
	font-size: 70px;
	font-family: "Dancing Script", cursive;
	font-weight: normal;
	padding: 30px;
	text-align: center;
	color: rgb(255, 255, 255);
}

body {
	background-color: #8ec5fc;
	/* background-image: linear-gradient(62deg, #8ec5fc 25%, #e0c3fc 89%); */
	background-image: linear-gradient(62deg, #85BEF5 25%, #237aad 89%);
	background-attachment: fixed;
	margin: 0px;
}

/* Gallery part */

.gallery {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.photo {
	margin: 10px;
	width: 96%;
	overflow: hidden;
	box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4);
}
.pics {
	width: 100%;
	transition: transform 400ms ease-out;
	transform: scale(1.05);
}
.pics:hover {
	transform: scale(1.2);
	filter: contrast(1.05);
}
@media screen and (min-width: 650px) {
	.photo {
		display: inline;
		width: 40%;
		margin: 15px;
		height: auto;
	}
}
footer {
	color: white;
	background-color: rgb(59, 58, 58);
	height: 70px;
	text-align: center;
	font-family: century gothic;
	margin: 30px 0 0 0;
	font-size: medium;
	padding: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

@media screen and (max-width: 500px) {
	.header {
		font-size: 30px;
	}
	.back {
		font-size: 10px;
	}
}
