@font-face {
    font-family: digital;
    src: url(digital-7.ttf);
  }

body{
    background-color:rgb(19, 18, 18);
}
#back{
    font-size:150%;
    font-family:digital;
    color:red;
    display:inline-block;
    position:absolute;
    left:5%;
    
}
#name{
    font-size:350%;
    font-family:digital;
    color:red;
    display:inline-block;
    position:absolute;
    left:5%;

}
#clock{
    position:relative;
    display:flex;
    flex-wrap: wrap;
    width:95%;
    height:300px;
    border:1px solid black;
    top:200px;
    background-color:#0a0000;
    border-radius:40px;
    box-shadow:0 0 2px 1px black,
               0px 0px 20px 3px red;

    left:2%;
    align-items: center;
    
    animation-name:clockclick;
    animation-duration:1s;
    animation-iteration-count: infinite;
    
}

@keyframes clockclick{
    0%{box-shadow:0 0 2px 1px black,
        0px 0px 20px 3px red;}

    50%{box-shadow:0 0 2px 1px black,
        0px 0px 50px 3px red;}

    100%{box-shadow:0 0 2px 1px black,
        0px 0px 20px 3px red;}
}

/* CLOCK ELEMENTS*/

#clock #hour{
    color:red;
    
    position:absolute;
    left:9%;
    font-size:1400%;
    font-family:digital;
    letter-spacing: 12px;
}
#clock #minute{
    color:red;
    font-size:50px;
    position:absolute;
    font-size:1400%;
    left:41%;
    font-family:digital;
    letter-spacing: 12px;
}
#clock #second{
    color:red;
    font-size:50px;
    position:absolute; 
    font-size:1400%;
    left:73%;
    font-family:digital;
    letter-spacing: 12px;
}

/*RESPONSIVENESS*/

@media screen and (max-width:1080px){
    #clock{
        height:250px;
    }
    
    #clock #hour{
        font-size:800%;
    }
    #clock #minute{
        font-size:800%;
        left:40%;
    }
    #clock #second{
        font-size:800%;
        left:70%;
    }
}


@media screen and (max-width:800px){
    #clock{
        height:200px;
    }
    #clock #hour{
        font-size:600%;
    }
    #clock #minute{
        font-size:600%;
        left:43%;
    }
    #clock #second{
        font-size:600%;
        left:70%;
    }
    #click{
        font-size:200%;
    }
}

@media screen and (max-width:600px){
    #clock{
        height:200px;
    }
    #clock #hour{
        font-size:450%;
    }
    #clock #minute{
        font-size:450%;
        left:40%;
    }
    #clock #second{
        font-size:450%;
        left:70%;
    }
}